#monEntete{width:100%;text-align:center;margin:auto;}
#maDivMenu{padding:25px 15px 0 15px;background:#fcead9;}
ul#monMenu{list-style-type:none;width:100%;position:relative;height:27px;
font-family:"Trebuchet MS",Arial,sans-serif;font-size:13px;
font-weight:bold;margin:0;padding:11px 0 0 0;}
ul#monMenu li{display:block;float:left;margin:0 0 0 4px;height:27px;}
ul#monMenu li.left{margin:0;}
ul#monMenu li a{display:block;float:left;color:#e06c08;background:#fdf1e5;
line-height:27px;text-decoration:none;
padding:0 17px 0 18px;height:27px;}
ul#monMenu li a.right{padding-right:19px;}
ul#monMenu li a:hover{color:#fdf1e5;background:#e06c08;}
ul#monMenu li a.current{color:#fdf1e5;background:#e06c08;}
ul#monMenu li a.current:hover{color:#fdf1e5;background:#e06c08;}